<% provide(:title, 'Sign in') %>
<h1>Sign in</h1>


<%= simple_form_for :sessions, url: sessions_path, html: {:class => 'form-horizontal'} do |f| %>

    <%= f.input :email %>
    <%= f.input :password %>

    <%= f.button :submit, class: 'col-sm-offset-2' %>
<% end %>

<p class="col-sm-offset-2">New user? <%= link_to 'Sign up now!', signup_path %></p>