<span id="avg_rating"><%= @idea.idea_ratings.size > 0 ? @idea.idea_ratings.average(:rating) : 'noch nicht bewertet' %></span>
<% if not_idea_owner?(@idea) %>
    <%= simple_form_for (@idea_rating), remote: true, html: {id: 'rating_form', style: 'display:inline'} do |f| %>
        <%= f.hidden_field :idea_id %>
        <%= f.hidden_field :rating, id: "rating-value" %>

        <% (1..5).each do |i| %>
            <span id="rating_star_<%= i %>" data-star-value="<%= i %>"></span>
        <% end %>
    <% end %>
<% end %>