<table class="table table-striped">
  <thead><tr>
    <th>Title</th>
    <th>Rating</th>
    <th>Views</th>
    <th>Published</th>
    <th>Actions</th>
  </tr></thead>
  <tbody>
  <% @ideas.each do |idea| %>
      <tr>
        <td>
          <%= link_to idea.title, idea %>
        </td>
        <td>
          <%= idea.idea_ratings.size > 0 ? idea.idea_ratings.average(:rating).round(2) : '-' %>
        </td>
        <td>
          <%= idea.views %>
        </td>
        <td>
          <% if moderator? %>
            <%= link_to idea.published? ? t(:published) : t(:unpublished), toggle_published_idea_path(idea), method: 'post', class: 'label '+(idea.published? ? 'label-success' : 'label-danger') %>
          <% else %>
              <span class="label <%= (idea.published? ? 'label-success' : 'label-danger') %>"><%= idea.published? ? t(:published) : t(:unpublished) %></span>
        <% end %>
        </td>
        <td>
          <%= link_to edit_idea_path(idea), class: 'btn btn-xs btn-success' do %><span class="glyphicon glyphicon-pencil"></span> <%= t(:edit) %><% end %>
          <%= link_to idea_path(idea), method: :delete, data: { confirm: t(:sure?) }, class: 'btn btn-xs btn-danger' do %><span class="glyphicon glyphicon-remove"></span> <%= t(:delete) %><% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>