<!--<h1><%= Idea.model_name.human(count: 2) %></h1>-->

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title"><a data-toggle="collapse" href="#collapseFilter">Filter</a></h4>
  </div>
  <div id="collapseFilter" class="panel-collapse collapse">
    <div class="panel-body">
      <%= simple_form_for @search, url: { action: 'index' },wrapper: :vertical, html: { class: 'form-vertical', method: :get } do |f| %>
          <div class="row">
            <div class="col-md-2"><%= f.input :title %></div>
            <div class="col-md-2"><%= f.input :material %></div>
          </div>
          <div class="row">
            <%= render 'search_kids' %>
          </div>
          <div class="row">
            <div class="col-md-2"><%= f.association :method_categories, as: :check_boxes %></div>
            <div class="col-md-2"><%= f.association :activity_categories, as: :check_boxes %></div>
            <div class="col-md-2"><%= f.association :season_categories, as: :check_boxes %></div>
            <div class="col-md-2"><%= f.association :location_categories, as: :check_boxes %></div>
          </div>
          <div class="row">
            <div class="col-md-4"><%= f.button :submit, value: t(:filter) %></div>
          </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1><%= Idea.model_name.human(count: 2) %></h1>
        <%#= link_to t(:new_idea), new_idea_path, class: 'btn btn-primary' %><br>

        <table class="table table-striped">
          <thead><tr>
            <th>Title</th>
            <th>Author</th>
            <th>Actions</th>
          </tr></thead>
          <tbody>
        <% @ideas.each do |idea| %>
          <tr>
            <td>
              <%= link_to idea.title, idea %>
              <% if !idea.published %>
                   <span class="label label-danger">Unpublished</span>
              <% end %>
            </td>
            <td>
              <%= link_to idea.user.name, idea.user %>
            </td>
            <td>
              <% if idea_owner?(idea.id) || moderator? %>
                  <%= link_to edit_idea_path(idea) do %><span class="glyphicon glyphicon-pencil green"></span><% end %>
                  <%= link_to idea_path(idea), method: :delete, data: { confirm: t(:sure?) } do %><span class="glyphicon glyphicon-remove red"></span><% end %>
              <% end %>
              <% if moderator? && !idea.published %>
                  <%= link_to publish_idea_path(idea) do %><span class="glyphicon glyphicon-ok blue"></span><% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
          </tbody>
        </table>

    </div>
</div>