<h1>
  <%= @title %>
  <%= link_to t(:new_idea), new_idea_path, class: 'btn btn-primary pull-right' %><br>
</h1>

<%= render 'filter' %>

<%= render 'table_'+@table %>

<div class="center"><%= will_paginate %></div>
