<h1><%= Idea.model_name.human(count: 2) %></h1>


<div class="row">
    <div class="col-md-4">
        <h2>Filter</h2>
        <%= simple_form_for @search, url: { action: 'index' }, html: { class: 'form-horizontal', method: :get } do |f| %>
          <%= f.input :title %>
          <%= f.input :material %>
          <%= f.button :submit, value: t(:filter), class: 'col-md-offset-2' %>
        <% end %>
    </div>

    <div class="col-md-8">
        <h2><%= Idea.model_name.human(count: 2) %></h2>
        <%#= link_to t(:new_idea), new_idea_path, class: 'btn btn-primary' %><br>

        <table class="table table-striped">
          <thead><tr>
            <th>Title</th>
            <th>Actions</th>
          </tr></thead>
          <tbody>
        <% @ideas.each do |idea| %>
          <tr>
            <td><%= link_to idea.title, idea %></td>
            <td>
              <% if idea_owner? idea.id %>
                  <%= link_to edit_idea_path(idea) do %><span class="glyphicon glyphicon-pencil green"></span><% end %>
                  <%= link_to idea_path(idea), method: :delete, data: { confirm: t(:sure?) } do %><span class="glyphicon glyphicon-remove red"></span><% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
          </tbody>
        </table>

    </div>
</div>