<h1>
  <%= @title %>
  <%= link_to new_idea_path, class: 'btn btn-primary pull-right' do %><span class="glyphicon glyphicon-plus"></span> <%= t(:new_idea) %><% end %><br>
</h1>

<%= render 'filter' %>

<%= render 'table_'+@table %>

<div class="center"><%= will_paginate %></div>
