<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= full_title(yield(:title)) %></title>

  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "GruppenstundenDB" %>">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <%= wicked_pdf_stylesheet_link_tag "print" %>

  <%= csrf_meta_tags %>
</head>
<body id="print">

<div>
  <span class="title"><%= @idea.title %></span>
  <span style="float: right"><%= wicked_pdf_image_tag('releibrugg.png', alt: 'Relei Brugg', width: 125) %></span>
</div>
<table class="container" cellspacing="0" style="margin-top: 20px">
  <tr class="row">
    <td width="100" class="cell header-cell">Gruppengrösse</td>
    <td width="300" class="cell"><%= @idea.group_size_min %> - <%= @idea.group_size_max %> Kinder</td>
    <td width="100" class="cell header-cell"><%= Idea.human_attribute_name(:location_categories) %></td>
    <td width="300" class="cell"><%= @idea.location_categories.collect(&:name).join(', ') %></td>
  </tr>
  <tr class="row">
    <td class="cell header-cell">Alter</td>
    <td class="cell"><%= @idea.age_min %> - <%= @idea.age_max %> Jahre</td>
    <td class="cell header-cell"><%= Idea.human_attribute_name(:location) %></td>
    <td class="cell"><%= @idea.location %></td>
  </tr>
  <tr class="row">
    <td class="cell header-cell">Geschlecht</td>
    <td class="cell"><%= ((@idea.boys && @idea.girls) ? 'Knaben, Mädchen' : (@idea.girls ? 'Mädchen' : 'Knaben')) %></td>
    <td class="cell header-cell"><%= Idea.human_attribute_name(:season_categories) %></td>
    <td class="cell"><%= @idea.season_categories.collect(&:name).join(', ') %></td>
  </tr>
  <tr class="row">
    <td class="cell header-cell"><%= Idea.human_attribute_name(:activity_categories) %></td>
    <td class="cell"><%= @idea.activity_categories.collect(&:name).join(', ') %></td>
    <td class="cell header-cell"><%= Idea.human_attribute_name(:method_categories) %></td>
    <td class="cell"><%= @idea.method_categories.collect(&:name).join(', ') %></td>
  </tr>
  <tr class="row">
    <td class="cell header-cell"><%= Idea.human_attribute_name(:material) %></td>
    <td class="cell" colspan="3"><%= @idea.material %></td>
  </tr>
  <tr class="row">
    <td class="cell header-cell"><%= Idea.human_attribute_name(:security) %></td>
    <td class="cell" colspan="3"><%= @idea.security %></td>
  </tr>
  <tr class="row">
    <td class="cell header-cell"><%= Idea.human_attribute_name(:remarks) %></td>
    <td class="cell" colspan="3"><%= @idea.remarks %></td>
  </tr>
  <tr class="row">
    <td class="cell header-cell"><%= Idea.human_attribute_name(:information) %></td>
    <td class="cell"><%= @idea.information %>&nbsp;</td>
    <td class="cell header-cell">Autor</td>
    <td class="cell"><%= @idea.user.name %></td>
  </tr>
</table>

<br>

<table class="container" cellspacing="0">
    <tr class="row header-row">
      <td class="cell header-cell" width="100">&nbsp;</td>
      <td class="cell header-cell" width="600">Ablauf</td>
      <td class="cell header-cell right-cell" stlye="border-right: 1px solid #000;" width="80">Dauer</td>
    </tr>
    <tr class="row">
      <td class="cell header-cell"><%= Idea.human_attribute_name(:preparation) %></td>
      <td class="cell"><%= @idea.preparation %></td>
      <td class="cell right-cell"><%= @idea.duration_preparation %> <%= t :minutes %></td>
    </tr>
    <tr class="row">
      <td class="cell header-cell"><%= Idea.human_attribute_name(:start) %></td>
      <td class="cell"><%= raw replace_redactor_images (@idea.start) %></td>
      <td class="cell right-cell"><%= @idea.duration_start %> <%= t :minutes %></td>
    </tr>
    <tr class="row">
      <td class="cell header-cell"><%= Idea.human_attribute_name(:main_part) %></td>
      <td class="cell"><%= raw replace_redactor_images (@idea.main_part) %></td>
      <td class="cell right-cell"><%= @idea.duration_main_part %> <%= t :minutes %></td>
    </tr>
    <tr class="row">
      <td class="cell header-cell"><%= Idea.human_attribute_name(:end) %></td>
      <td class="cell"><%= raw replace_redactor_images (@idea.end) %></td>
      <td class="cell right-cell"><%= @idea.duration_end %> <%= t :minutes %></td>
    </tr>
</table>

</body>
</html>