<h1><%= @idea.title %></h1>

<p>
  <strong><%= Idea.human_attribute_name(:main_part) %>:</strong>
  <%= raw @idea.main_part %>
</p>


<!--<h2><%= Comment.model_name.human(count: 2) %></h2>-->
<!--<%= render @idea.comments %>-->

<!--<h2>Add a comment:</h2>-->
<!--<%= render "comments/form" %>-->

<!--<%= link_to t(:back), ideas_path %> | <%= link_to 'Edit', edit_idea_path(@idea) %>-->