<h1>
  <%= @idea.title %>
  <% if idea_owner?(@idea.id) %>
      <small><%= link_to edit_idea_path(@idea) do %><span class="glyphicon glyphicon-pencil green"></span><% end %></small>
  <% end %>
</h1>
<%= link_to 'Create PDF document', print_idea_path(@idea, format: :pdf) %>
<div class="show_idea">

  <div class="row">
    <header class="col-sm-2">Author:</header>
    <span class="col-sm-2"><%= link_to @idea.user.name, @idea.user %></span>
  </div>

  <div class="row">
    <header class="col-sm-2"><%= Idea.human_attribute_name(:created_at) %>:</header>
    <span class="col-sm-4"><%= l(@idea.created_at) %></span>
    <header class="col-sm-2"><%= Idea.human_attribute_name(:updated_at) %>:</header>
    <span class="col-sm-4"><%= l(@idea.updated_at) %></span>
  </div>

  <div class="row">
    <header class="col-sm-2"><%= t :avg_rating %>:</header>
    <span class="col-sm-4"><%= render 'rating' %></span>
    <header class="col-sm-2"><%= Idea.human_attribute_name(:views) %>:</header>
    <span class="col-sm-4"><%= @idea.views %></span>
    <header class="col-sm-2 col-sm-offset-6"><%= Idea.human_attribute_name(:downloads) %>:</header>
    <span class="col-sm-4"><%= @idea.downloads  %></span>
  </div>

  <div class="row">
    <header class="col-sm-2"><%= Idea.human_attribute_name(:method_categories) %>:</header>
    <span class="col-sm-4"><%= @idea.method_categories.collect(&:name).join(', ') %></span>
    <header class="col-sm-2"><%= Idea.human_attribute_name(:information) %>:</header>
    <span class="col-sm-4"><%= @idea.information %>&nbsp;</span>
    <header class="col-sm-2"><%= Idea.human_attribute_name(:activity_categories) %>:</header>
    <span class="col-sm-4"><%= @idea.activity_categories.collect(&:name).join(', ') %></span>
  </div>

  <div class="row">
    <header class="col-sm-2"><%= Idea.human_attribute_name(:season_categories) %>:</header>
    <span class="col-sm-4"><%= @idea.season_categories.collect(&:name).join(', ') %></span>
    <header class="col-sm-2"><%= Idea.human_attribute_name(:location_categories) %>:</header>
    <span class="col-sm-4"><%= @idea.location_categories.collect(&:name).join(', ') %></span>
    <header class="col-sm-2 col-sm-offset-6"><%= Idea.human_attribute_name(:location) %>:</header>
    <span class="col-sm-4"><%= @idea.location %></span>
  </div>

  <div class="row">
    <header class="col-sm-2">Wer:</header>
    <span class="col-sm-4"><%= ((@idea.boys && @idea.girls) ? 'Knaben, Mädchen' : (@idea.girls ? 'Mädchen' : 'Knaben')) %></span>
    <header class="col-sm-2">Gruppengrösse:</header>
    <span class="col-sm-4"><%= @idea.group_size_min %> - <%= @idea.group_size_max %> Kinder</span>
    <header class="col-sm-2">Alter:</header>
    <span class="col-sm-4"><%= @idea.age_min %> - <%= @idea.age_max %> Jahre</span>
  </div>

  <div class="row">
    <header class="col-sm-2"><%= Idea.human_attribute_name(:material) %>:</header>
    <span class="col-sm-8"><%= @idea.material %></span>
  </div>

  <div class="row">
    <header class="col-sm-2"><%= Idea.human_attribute_name(:security) %>:</header>
    <span class="col-sm-8"><%= @idea.security %></span>
  </div>

  <div class="row">
    <header class="col-sm-2"><%= Idea.human_attribute_name(:remarks) %>:</header>
    <span class="col-sm-8"><%= @idea.remarks %></span>
  </div>

  <div class="row">
    <header class="col-sm-2"><%= Idea.human_attribute_name(:preparation) %>:</header>
    <span class="col-sm-8"><%= @idea.preparation %></span>
    <span class="col-sm-2">
        <header><%= Idea.human_attribute_name(:duration_preparation) %>:</header>
        <div><%= @idea.duration_preparation %> <%= t :minutes %></div>
    </span>
  </div>

  <div class="row">
    <header class="col-sm-2"><%= Idea.human_attribute_name(:start) %>:</header>
    <span class="col-sm-8"><%= raw @idea.start %></span>
    <span class="col-sm-2">
        <header><%= Idea.human_attribute_name(:duration_start) %>:</header>
        <div><%= @idea.duration_start %> <%= t :minutes %></div>
    </span>
  </div>

  <div class="row">
    <header class="col-sm-2"><%= Idea.human_attribute_name(:main_part) %>:</header>
    <span class="col-sm-8"><%= raw @idea.main_part %></span>
    <span class="col-sm-2">
        <header><%= Idea.human_attribute_name(:duration_main_part) %>:</header>
        <div><%= @idea.duration_main_part %> <%= t :minutes %></div>
    </span>
  </div>

  <div class="row">
    <header class="col-sm-2"><%= Idea.human_attribute_name(:end) %>:</header>
    <span class="col-sm-8"><%= raw @idea.end %></span>
    <span class="col-sm-2">
        <header><%= Idea.human_attribute_name(:duration_end) %>:</header>
        <div><%= @idea.duration_end %> <%= t :minutes %></div>
    </span>
  </div>
</div>
<h2><%= Comment.model_name.human(count: 2) %></h2>
<%= render @idea.comments.order('created_at DESC') %>

<% if user? %>
    <h2>Add a comment:</h2>
    <%= render "comments/form" %>
<% end %>

<%= link_to t(:back), ideas_path %>