<h1><%= @idea.title %></h1>

<div class="row">
    <strong class="col-md-1">Author:</strong>
    <%= link_to @idea.user.name, @idea.user, class: 'col-md-7' %><br>
</div>
<div class="row">
  <strong class="col-md-1"><%= Idea.human_attribute_name(:created_at) %>:</strong>
  <div class="col-md-7"><%= l(@idea.created_at) %></div>
</div>
<div class="row">
  <strong class="col-md-1"><%= Idea.human_attribute_name(:updated_at) %>:</strong>
  <div class="col-md-7"><%= l(@idea.updated_at) %></div>
</div>
<div class="row">
  <strong class="col-md-1"><%= Idea.human_attribute_name(:views) %>:</strong>
  <div class="col-md-7"><%= @idea.views %></div>
</div>
<div class="row">
  <strong class="col-md-1"><%= Idea.human_attribute_name(:material) %>:</strong>
  <div class="col-md-7"><%= @idea.material %></div>
</div>
<div class="row">
  <strong class="col-md-1"><%= Idea.human_attribute_name(:start) %>:</strong>
  <div class="col-md-7"><%= raw @idea.start %></div>
</div>
<div class="row">
  <strong class="col-md-1"><%= Idea.human_attribute_name(:main_part) %>:</strong>
  <div class="col-md-7"><%= raw @idea.main_part %></div>
</div>
<div class="row">
  <strong class="col-md-1"><%= Idea.human_attribute_name(:end) %>:</strong>
  <div class="col-md-7"><%= raw @idea.end %></div>
</div>


<!--<h2><%= Comment.model_name.human(count: 2) %></h2>-->
<!--<%= render @idea.comments %>-->

<!--<h2>Add a comment:</h2>-->
<!--<%= render "comments/form" %>-->

<!--<%= link_to t(:back), ideas_path %> | <%= link_to 'Edit', edit_idea_path(@idea) %>-->