<h1>
  <%= @idea.title %>
  <% if idea_owner?(@idea.id) %>
      <small><%= link_to edit_idea_path(@idea) do %><span class="glyphicon glyphicon-pencil green"></span><% end %></small>
  <% end %>
</h1>
<div class="show_idea">
    <div class="row">
      <header class="col-sm-2">Author:</header>
      <span class="col-sm-2"><%= link_to @idea.user.name, @idea.user %></span>
    </div>
    <div class="row">
      <header class="col-sm-2"><%= Idea.human_attribute_name(:created_at) %>:</header>
      <span class="col-sm-2"><%= l(@idea.created_at) %></span>
      <header class="col-sm-2"><%= Idea.human_attribute_name(:updated_at) %>:</header>
      <span class="col-sm-2"><%= l(@idea.updated_at) %></span>
    </div>
    <div class="row">
      <header class="col-sm-2"><%= t :avg_rating %>:</header>
      <span class="col-sm-2"><%= render 'rating' %></span>
      <header class="col-sm-2"><%= Idea.human_attribute_name(:views) %>:</header>
      <span class="col-sm-2"><%= @idea.views %></span>
    </div>
    <div class="row">
      <header class="col-sm-2"><%= Idea.human_attribute_name(:material) %>:</header>
      <span class="col-sm-8"><%= @idea.material %></span>
    </div>
  <div class="row">
    <header class="col-sm-2"><%= Idea.human_attribute_name(:security) %>:</header>
    <span class="col-sm-8"><%= @idea.security %></span>
  </div>
  <div class="row">
    <header class="col-sm-2"><%= Idea.human_attribute_name(:preparation) %>:</header>
    <span class="col-sm-8"><%= @idea.preparation %></span>
    <span class="col-sm-2">
        <header><%= Idea.human_attribute_name(:duration_preparation) %>:</header>
        <div><%= @idea.duration_preparation %> <%= t :minutes %></div>
    </span>
  </div>
  <div class="row">
    <header class="col-sm-2"><%= Idea.human_attribute_name(:start) %>:</header>
    <span class="col-sm-8"><%= raw @idea.start %></span>
    <span class="col-sm-2">
        <header><%= Idea.human_attribute_name(:duration_start) %>:</header>
        <div><%= @idea.duration_start %> <%= t :minutes %></div>
    </span>
  </div>
  <div class="row">
    <header class="col-sm-2"><%= Idea.human_attribute_name(:main_part) %>:</header>
    <span class="col-sm-8"><%= raw @idea.main_part %></span>
    <span class="col-sm-2">
        <header><%= Idea.human_attribute_name(:duration_main_part) %>:</header>
        <div><%= @idea.duration_main_part %> <%= t :minutes %></div>
    </span>
  </div>
  <div class="row">
    <header class="col-sm-2"><%= Idea.human_attribute_name(:end) %>:</header>
    <span class="col-sm-8"><%= raw @idea.end %></span>
    <span class="col-sm-2">
        <header><%= Idea.human_attribute_name(:duration_end) %>:</header>
        <div><%= @idea.duration_end %> <%= t :minutes %></div>
    </span>
  </div>
</div>
<h2><%= Comment.model_name.human(count: 2) %></h2>
<%= render @idea.comments.order('created_at DESC') %>

<% if user? %>
    <h2>Add a comment:</h2>
    <%= render "comments/form" %>
<% end %>

<%= link_to t(:back), ideas_path %>