<p>
  <strong>Title:</strong>
  <%= @idea.title %>
</p>

<p>
  <strong>Hauptteil:</strong>
  <%= raw @idea.main_part %>
</p>


<h2>Comments</h2>
<%= render @idea.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<%= link_to 'Back', ideas_path %> | <%= link_to 'Edit', edit_idea_path(@idea) %>