<tr>
    <td>
        <%= link_to user.name, user %>
    </td>

    <td>
      <% if moderator? %>
          <%= link_to 'Moderator', toggle_moderator_user_path(user), class: 'label '+(user.moderator? ? 'label-success' : 'label-danger') %>
      <% else %>
          <span class="label <%= user.moderator? ? 'label-success' : 'label-danger' %>">Moderator</span>
      <% end %>
      <% if admin? %>
          <%= link_to 'Admin', toggle_admin_user_path(user), class: 'label '+(user.admin? ? 'label-success' : 'label-danger') %>
      <% else %>
          <span class="label <%= user.admin? ? 'label-success' : 'label-danger' %>">Admin</span>
      <% end %>
    </td>
    <% if admin? %>
        <td>
          <%= link_to edit_user_path(user), class: 'btn btn-xs btn-success' do %><span class="glyphicon glyphicon-pencil"></span> <%= t(:edit) %><% end %>
          <%= link_to user_path(user), method: :delete, data: { confirm: t(:sure?) }, class: 'btn btn-xs btn-danger' do %><span class="glyphicon glyphicon-remove"></span> <%= t(:delete) %><% end %>
        </td>
    <% end %>

</tr>