<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<%= simple_form_for @user, html: {:class => 'form-horizontal'}  do |f| %>
    <%= f.error_notification %>

    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.button :submit, 'Create my account', class: 'col-sm-offset-2' %>
<% end %>