<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= simple_form_for @user do |f| %>

        <%= render 'shared/error_messages' %>

        <%= f.input :name %>
        <%= f.input :email %>
        <%= f.input :password %>
        <%= f.input :password_confirmation, label: "Confirmation" %>
        <%= f.button :submit, "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>